name: test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request: { types: [opened, reopened, synchronize, ready_for_review] }
  push: { branches: [ main ] }
env:
  LOG_LEVEL: info
  SWIFT_DETERMINISTIC_HASHING: 1

jobs:
  integration-linux:
    strategy:
      fail-fast: false
      matrix:
        fluentflags:
          - --no-fluent
          - --fluent.db mysql
          - --fluent.db postgres
          - --fluent.db sqlite
          - --fluent.db mongo
        leafflags: [--leaf, --no-leaf]
    runs-on: ubuntu-latest
    container: swift:5.9-jammy
    steps:
      - name: Check out toolbox
        uses: actions/checkout@v4
      - name: Build toolbox
        run: swift build
      - name: Execute new project command
        env:
          FLUENTFLAGS: ${{ matrix.fluentflags }}
          LEAFFLAGS: ${{ matrix.leafflags }}
        run: |
          swift run \
            vapor new toolbox-test \
                --no-commit -o /tmp/toolbox-test \
                ${FLUENTFLAGS} ${LEAFFLAGS}
      - name: Test new project
        run: swift test --package-path /tmp/toolbox-test
  
  integration-macos:
    strategy:
      fail-fast: false
      matrix:
        fluentflags:
          - --no-fluent
          - --fluent.db mysql
          - --fluent.db postgres
          - --fluent.db sqlite
          - --fluent.db mongo
        leafflags: [--leaf, --no-leaf]
    runs-on: macos-13
    steps:
      - name: Select toolchain
        uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: latest-stable }
      - name: Check out toolbox
        uses: actions/checkout@v4
      - name: Build toolbox
        run: swift build
      - name: Execute new project command
        env:
          FLUENTFLAGS: ${{ matrix.fluentflags }}
          LEAFFLAGS: ${{ matrix.leafflags }}
        run: |
          swift run \
            vapor new toolbox-test \
                --no-commit -o /tmp/toolbox-test \
                ${FLUENTFLAGS} ${LEAFFLAGS}
      - name: Test new project
        run: swift test --package-path /tmp/toolbox-test
